:root {
    --main-color: #DB2777;
    --main-color-rgb: 219, 39, 119;
    --accent-color: #F9A8D4;
    --accent-color-rgb: 249, 168, 212;
    --hover-color: #BE185D;
    --hover-color-rgb: 190, 24, 93;
}
